---
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="donde vas tontito?">
  <h1>No tienes permitido saltar mundos</h1>
  <a href="/">Vuelve a tu mundo!</a>
</MainLayout>