---
import MainLayout from '../layouts/MainLayout.astro';
import type { PokemonListResponse } from '../interfaces/pokemon-list.response';
import PokemonCard from '../components/pokemons/PokemonCard.astro';
import Title from '@components/common/Title.astro';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = await resp.json() as PokemonListResponse;

const title = 'Pokemos';
---

<MainLayout title={title}>
	<main class="mt-10">
    <!-- <h1 class="text-3xl">Pokemons</h1>
    <hr class="my-3" /> -->
    <Title>Pokemos</Title>

    <section
      aria-label="Pokemons"
      class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
    >
      {
        data.results.map((pokemon) => (
          <PokemonCard
            name={pokemon.name}
            url={pokemon.url}
          />
        ))
      }
    </section>

	</main>
</MainLayout>
